.aperto-extended-textfield-label {
    text-align: right;
    color: #666;
    white-space: nowrap;
    line-height: 25px;
    right: 2px;
    position: relative;
    font-size: 10px;
    top: -12px;
    height: 18px;
}

/*Styles for the sortable multivaluefield*/
.aperto-multifield > .v-expand > .v-slot {
    width: 80% !important;
}

.aperto-multifield {
    margin-bottom: 20px;
}

.aperto-multi-buttons {
    top: 10px;
    position: relative;
}